<!DOCTYPE html>

<html ng-app="formSubmit">
<head>
<meta charset="ISO-8859-1" />
<base href="/"/>
<title>Index</title>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"/>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.js"/>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-resource.js"/>

<script src="js/index.js"/>
</head>
<body>
	<form ng-submit="submit()"
		ng-controller="FormSubmitController">
		<table>
			<tr>
				<td>FirstName: <input type="text" name="firstName" ng-model="name.firstName" /></td>
				<td>{{name.firstName}}</td>
			</tr>
			<tr>
				<td>LastName: <input type="text" name="lastName" ng-model="name.lastName" /></td>
				<td>{{name.lastName}}</td>
			</tr>
			<tr>
				<td><input type="submit" value="Add" /></td>
			</tr>

		</table>
		<h4>You submitted below data through post:</h4>
		<pre>Form data ={{list}}</pre>

	</form>

</body>
</html>
