<html>
    <body>
        <form action="#" th:action="@{/}" th:object="${customer}" method="post">
            <table>
                <tr>
                    <td>First name:</td>
                    <td><input type="text" th:field="*{name.firstName}" /></td>
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td><input type="text" th:field="*{name.lastName}" /></td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>